#logo{
    width:1.96em;
    height:0.8em;
    float:left;

    font-family:Bebas;
    font-size:1.25em;
    line-height:0.9em;
}

#logo:hover{
    cursor:pointer;
}

#logo k{
    width:0.4em;
    height:0.7em;
    float:left;

    margin-top:0.05em;

    position:relative;
}

#logo k div{
    width:30%;
    height:50%;
    float:left;

    background-color:#f70;
}

#logo k .top{
    transform:skewX(-25deg);

    position:absolute;
    left:35%;
    
/*    border-bottom:0.005em solid #000;*/
/*    box-shadow:0.005em 0.005em #000;*/
}

#logo k .bottom{
    transform:skewX(25deg);

    position:absolute;
    left:35%;
    top:50%;
    
    border-top:0.005em solid #f70;
/*    box-shadow:0.005em -0.005em #000;*/
}

#logo p{
    float:left;
}